/* Стильовий файл для сайту */

/* Загальні стилі */
body {
    background-image: url('background.jpg'); /* Фонове зображення сторінки */
    color: #333; /* Колір тексту */
    font-family: Arial, sans-serif; /* Шрифт */
    margin: 0; /* Зовнішній відступ */
    padding: 20px; /* Внутрішній відступ */
}

p {
    text-align: justify; /* Вирівнювання тексту абзаців по ширині */
    margin-left: 20px; /* Відстань ліворуч від тексту до границь вікна */
    margin-right: 20px; /* Відстань праворуч від тексту до границь вікна */
    font-style: italic; /* Стиль тексту - курсив */
    background-color: white; /* Білий фон */
    padding: 10px; /* Внутрішній відступ */
}

/* Стилі для заголовків */
h1 {
    font-weight: bold; /* Жирний стиль */
    text-align: center; /* Вирівнювання по центру */
    color: #FF0000; /* Червоний колір */
    font-style: normal; /* Нормальний стиль */
    background-color: white; /* Білий фон */
    padding: 10px; /* Внутрішній відступ */
}

/* Стилі для посилань */
a:link {
    color: blue; /* Колір не відвіданих посилань */
}

a:visited {
    color: purple; /* Колір відвіданих посилань */
}

a:hover {
    color: red; /* Колір при наведенні */
}
